$navbar-desktop-height: 164px;
$web-max-width: 1000px;

//------------------------------------------------------------------------------
// Breakpoints
//------------------------------------------------------------------------------
$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;
$screen-xxl-min: 1536px;
