.#{$prefix}-home {
    @include speculo-prefer-quality;
    //background-color: #f3f4f6;

    &-main {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        color: #fff;
    }

    &-welcome {
        max-width: 720px;
        margin: 0 12vw;
        font-family: 'Roboto', 'Inter', sans-serif;
        font-size: 32px;
        font-weight: 700;

        p {
            color: #fff;
        }

        a {
            color: #0af;
            text-decoration: none;
            word-break: break-all;
        }
    }
}
